.pokemon_data {
  position: absolute;
  top: 55%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
  font-weight: 600;
  color: var(--pokemon-id);
}

.pokemon_name {
  text-transform: capitalize;
  color: var(--pokemon-name);
}
