.container {
  width: 65%;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: var(--txt-color-button);
  background-color: var(--bg-color-btn);
  box-shadow: -2px 3px 0 var(--color-box-shadow-primary),
    -4px 6px 0 var(--color-box-shadow-secundary);
  cursor: pointer;
}

.button:active {
  font-size: 0.9rem;
  box-shadow: inset -4px 4px 0 var(--color-box-shadow-primary);
}
