@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap");

body {
  font-family: "Oxanium", sans-serif;
  text-align: center;
  background: linear-gradient(180deg, #6ab7f5, #fff);
  min-height: 100vh;
}
